@media screen and (max-width: 992px){
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 768px){
    html {
        font-size: 85%;
    }
}

@media screen and (max-width: 600px){
    html {
        font-size: 80%;
    }
}
@media screen and (max-width: 550px){
    html {
        font-size: 80%;
    }
    .left__some-text {
        bottom: 0;
    }
}
@media screen and (max-width: 480px){
    html {
        font-size: 80%;
    }
    .left__some-text {
        bottom:0;
        font-size: 0.7rem;
    }
}