@import url("css/normalize.css");

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix::after,
.header::after{
    content: "";
    display: table;
    clear: both;
}
html {
    font-size: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 1rem;
    line-height: 1;
}
.page__cell {
    max-width: 1200px;
    margin: 2% auto;
}
.page {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
}
.main {
    padding-top: 65%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    box-shadow: -40px 40px 100px 20px;
    border-radius: 5px;
    position: relative;
}
.main__left {
    background-color: white;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    right: 95%;
    bottom: 0;
    left: 0;
}
.left__some-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;
    font-size: 0.9rem;
    font-weight: 400;
}
.some-text__text-regular {
    position: relative;
    transform-origin: 40% 0;
    transform: rotate(270deg);
    white-space: nowrap;
    top: 70%;
    right: 0;
    bottom: 0;
    left: 0;
    color:#b2b2b2;
}
.some-text__text-bolt {
    color: #000;
    font-weight: 700;
}
.left__button {
    position: absolute;
    top: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding-top: 50%;
}
.button__case {
    max-width: 50%;
    text-align: center;
}
.main-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 5%;
}
.right__row {

}
.right__cell{
    max-width: 1000px;
    margin: 5% 6%;
    padding: 0 0;
}
.header {
    position: relative;
    padding: 1rem 0;
}
.logo-name {
    position: absolute;
    font-weight: 900;
    font-size: 1.8rem;
    bottom: 0;
    left: 0;
}
.nav {
    position: absolute;
    bottom: 0;
    right: 0;
}
.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav__list:last-child {
    margin-right: 0;
}
.nav__item {

}
.nav__link {
    padding: 0.2rem 0.5rem;
    margin: 0 0.4rem;
}
.nav__link:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
}
.link {
    text-decoration: none;
    color: black;
}
.bottom__button {
    margin-top: 50%;
    text-align: center;
    font-size: 0.8rem;
}
.button__explore-work {
    background-color: black;
    color: #d5ae91;
    border-radius: 30px;
    box-shadow: -1rem 2rem 5rem 0.8rem black;
    padding: 0.5rem 2.8rem;
}
.button__explore-work:hover {
    background-color: #2e2e2e;
    color: white;
    border-radius: 30px;
}
.nav__link:active,
.button__explore-work:active{
    background-color: black;
    color: #ffb203;
    border-radius: 30px;
}









